.janru{
    display:inline;
    box-shadow:0 0 3px 0;
    margin-right:5px;
}
.janru:hover{
    background-color:red;
}

body{
    text-align:center;

    background-image:url(images/images/bg_Argyle.jpg);
}

div{
        padding:15px;
        
}
#b{ box-shadow:0 0 3px 0;
    background-color: white;
    width:700px ;
    margin-left:20%
    
}
.c{

}



